.form-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    max-width: 400px; 
    margin-right: auto; 
}

.div-container {
    display: flex;
    flex-direction: column;  
    max-width: 400px; 
    margin-right: auto; 
}

.form-container label,
.form-container input,
.form-container textarea,
.form-container button {
    width: 100%; 
}

.h3 {
    margin-top: 80px;
}

.btn {
    margin-top: 30px;
    display: inline-block; 
    padding: 8px 12px; 
    font-size: 12px;
    color: white; 
    background-color: #007bff; 
    border: none;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}

.btn1 {
    margin-top: 30px;
    display: inline-block; 
    padding: 8px 12px; 
    font-size: 12px;
    color: rgb(0, 0, 0); 
    background-color: #00ffee; 
    border: none;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
}

.button-container {
    display: block;
    margin-bottom: 10px;
}

li.btn1 a {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
